<div class="layout layout--stretch">
  {% for channel in channels limit: 3 %}
  <div class="flex flex--col gap
    {% if forloop.index == 2 %}
    md:hidden lg:flex md:portrait:hidden lg:portrait:flex
    {% endif %}
    {% if forloop.index == 3 %}
     md:hidden md:portrait:hidden lg:portrait:hidden
    {% endif %}
    " data-overflow="true">
    <div class="label label--medium label--inverted">{{ channel.name }}</div>
    
    {% if channel.error %}
    <div class="label label--small">{{ channel.error }}</div>
    {% elsif channel.items.size == 0 %}
    <div class="label label--small">No programs available</div>
    {% else %}
      {% for item in channel.items %}
      {% render "item_template", item: item, description: false, time_format: time_format, locale: locale %}
      {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
</div>

{% if show_title_bar == "true" %}
<div class="title_bar">
  <img class="image" src="https://raw.githubusercontent.com/ExcuseMi/trmnl-tv-guide.plugin/55be7d503d490412b84f8393b15419476fd21d11/tv-guide.svg" />
  <span class="title">TV Guide</span>
</div>
{% endif %}